/* 
 * General
 */
.remove-underline:hover {
	text-decoration: none;
}


/* 
 * App Body
 */
body {
	margin-top: 20vh;
	background-image: url(../src/img/smashBackground.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 100%;
	font-family: 'Open Sans', sans-serif;
}
.container {
	min-width: 100px;
}


/* 
 * NavBar
 */
.nav-styles {
	background-color: #56A8CBFF;
	font-weight: 600;
}


/* 
 * Tournament Index
 */
.singleelimination {
	border: 5px solid #6AA8AA;
	border-radius: 10px;
	background-color: #F0F0F0;
	color: #6AA8AA;
	text-shadow: 0.2px 0.2px 1.5px;
	box-shadow: 0 0 10px #6AA8AA;
}
.doubleelimination {
	border: 5px solid #D34932;
	border-radius: 10px;
	background-color: #3F0C03;
	color: #D34932;
	text-shadow: 0.2px 0.2px 1.5px;
	box-shadow: 0 0 10px #D34932;
}
.roundrobin {
	border: 5px solid #CDC4A4;
	border-radius: 10px;
	background-color: #2C5F2D;
	color: #CDC4A4;
	text-shadow: 0.2px 0.2px 1.5px;
	box-shadow: 0 0 10px #CDC4A4;
}
.pools {
	border: 5px solid #0063B2FF;
	border-radius: 10px;
	background-color: #9CC3D5FF;
	color: #0063B2FF;
	text-shadow: 0.2px 0.2px 1.5px;
	box-shadow: 0 0 10px #0063B2FF;
}
.enter-btn {
	font-size: 1.3em;
}
.edit-delete {
	font-size: 0.8rem;
}


/* 
 * Tournament Show
 */
.fade-out {
	opacity: 0;
	transition: all 0.5s ease-out;
}
.fade-in {
	opacity: 0;
	transition:all 0.5s ease-in;
}
.confirm-btn {
	cursor: default;
}


/* 
 * Player Profile
 */
.profile {
	background-color: #56A8CBFF;
	color: #DA291CFF;
}


/* 
 * Player Directory
 */
.media-element {
	border: 0.2px solid black;
	border-radius: 15px;
	background-color: #56A8CBFF;
	color: #DA291CFF;
	padding: 8px;
}
.media-hover:hover {
	/* background-color: #7e7b7b; */
	box-shadow: 0 0 3px #000000;
}
.delete-icon {
	float: right;
	position: sticky;
	margin-top: 15px;
	right: 45px;
}
.delete-icon:hover {
	cursor: pointer;
}


/* 
 * Smash News
 */
.smash-news {
	margin-top: 1vh !important;	
}


/* 
 * Start Tournament
 */
.match-card {
	font-size: 1.7em;
	font-weight: 600;
	padding: 25px;
	background-image: url(../src/img/vs.jpg);
	background-size: cover;
	background-position: center;
}
.score-btn-icon {
	color: #DA291CFF;
}
.score-btn-icon:hover {
	cursor: pointer;
}


/*
 * Tournament Results
 */
.results-font {
	font-family: 'Merriweather Sans', sans-serif;
}