/* 
 * General
 */
.remove-underline:hover {
	text-decoration: none;
}


/* 
 * App Body
 */
body {
	margin-top: 17vh;
}


/* 
 * NavBar
 */
.nav-styles {
	background-color: #56A8CBFF;
	font-weight: 600;
}


/* 
 * Tournament Index
 */
.singleelimination {
	border: 10px solid #CDC4A4;
	border-radius: 15px;
	background-color: #2C5F2D;
	color: #CDC4A4;
	text-shadow: 0.2px 0.2px 1.5px;
	box-shadow: inset 0 0 10px #CDC4A4;
}
.doubleelimination {
	border: 10px solid #6AA8AA;
	border-radius: 15px;
	background-color: #F0F0F0;
	color: #6AA8AA;
	text-shadow: 0.2px 0.2px 1.5px;
	box-shadow: inset 0 0 10px #6AA8AA;
}
.roundrobin {
	border: 10px solid #D34932;
	border-radius: 15px;
	background-color: #3F0C03;
	color: #D34932;
	text-shadow: 0.2px 0.2px 1.5px;
	box-shadow: inset 0 0 10px #D34932;
}
.pools {
	border: 10px solid #0063B2FF;
	border-radius: 15px;
	background-color: #9CC3D5FF;
	color: #0063B2FF;
	text-shadow: 0.2px 0.2px 1.5px;
	box-shadow: inset 0 0 10px #0063B2FF;
}
.enter-btn {
	font-size: 1.3em;
}
.edit-delete {
	font-size: 0.8rem;
}


/* 
 * Player Profile
 */
.profile {
	background-color: #56A8CBFF;
	color: #DA291CFF;
}


/* 
 * Player Directory
 */
.media-element {
	border: 0.2px solid black;
	border-radius: 15px;
	background-color: #56A8CBFF;
	color: #DA291CFF;
	padding: 8px;
}
.media-hover:hover {
	/* background-color: #7e7b7b; */
	box-shadow: 0 0 3px #000000;
}


/* 
 * Smash News
 */
.smash-news {
	margin-top: 1vh !important;	
}