/* 
 * Player Directory
 */
.media-element {
	border: 0.2px solid black;
	border-radius: 15px;
	background-color: #56A8CBFF;
	color: #DA291CFF;
	padding: 8px;
}

.media-element:hover {
	/* background-color: #7e7b7b; */
	box-shadow: 0 0 3px #000000;
}

.media-link:hover {
	text-decoration: none;
}